.DS_Store
.vscode/
*/**/.DS_Store

# node
/node_modules
npm-debug.log

# python
*.pyc

solidity/build/contracts
solidity/.coverage_artifacts
solidity/.coverage_contracts
solidity/coverage
solidity/coverageEnv
solidity/coverage.json
solidity/allFiredEvents
solidity/scTopics

# npm run build
solidity/build/ConverterV27OrLowerWithoutFallback.abi
solidity/build/ConverterV27OrLowerWithoutFallback.bin
solidity/build/ConverterV27OrLowerWithFallback.abi
solidity/build/ConverterV27OrLowerWithFallback.bin
solidity/build/ConverterV28OrHigherWithoutFallback.abi
solidity/build/ConverterV28OrHigherWithoutFallback.bin
solidity/build/ConverterV28OrHigherWithFallback.abi
solidity/build/ConverterV28OrHigherWithFallback.bin
solidity/build/Migrations.abi
solidity/build/Migrations.bin
solidity/build/NewConverter.abi
solidity/build/NewConverter.bin
solidity/build/NonStandardToken.abi
solidity/build/NonStandardToken.bin
solidity/build/OldConverter.abi
solidity/build/OldConverter.bin
solidity/build/TestBancorFormula.abi
solidity/build/TestBancorFormula.bin
solidity/build/TestBancorNetwork.abi
solidity/build/TestBancorNetwork.bin
solidity/build/TestLiquidityPoolConverter.abi
solidity/build/TestLiquidityPoolConverter.bin
solidity/build/TestNonStandardToken.abi
solidity/build/TestNonStandardToken.bin
solidity/build/TestSafeMath.abi
solidity/build/TestSafeMath.bin
solidity/build/TestStandardToken.abi
solidity/build/TestStandardToken.bin
