.DS_STORE
.vscode

# node
node_modules
npm-debug.log

# python
*.pyc

# npm test 1
solidity/build/contracts

# npm test 2
solidity/allFiredEvents
solidity/coverageEnv
solidity/coverage
solidity/coverage.json
solidity/scTopics

# npm run build
solidity/build/INonStandardSmartToken.bin
solidity/build/Migrations.abi
solidity/build/Migrations.bin
solidity/build/NewBancorConverter.abi
solidity/build/NewBancorConverter.bin
solidity/build/NonStandardERC20Token.abi
solidity/build/NonStandardERC20Token.bin
solidity/build/NonStandardSmartToken.abi
solidity/build/NonStandardSmartToken.bin
solidity/build/OldBancorConverter.abi
solidity/build/OldBancorConverter.bin
solidity/build/TestBancorFormula.abi
solidity/build/TestBancorFormula.bin
solidity/build/TestBancorNetwork.abi
solidity/build/TestBancorNetwork.bin
solidity/build/TestCrowdsaleController.abi
solidity/build/TestCrowdsaleController.bin
solidity/build/TestERC20Token.abi
solidity/build/TestERC20Token.bin
solidity/build/TestFeatures.abi
solidity/build/TestFeatures.bin
solidity/build/TestNonStandardERC20Token.abi
solidity/build/TestNonStandardERC20Token.bin
solidity/build/TestSafeMath.abi
solidity/build/TestSafeMath.bin
